<section class="home" id="home">
  <div class="swiper home-slider">
    <swiper-container id="swiper" class="swiper-wrapper">
      <swiper-slide class="swiper-slide">
        <div
          class="box"
          style="
            background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
              ),
              url('https://drive.google.com/uc?export=view&id=1KPjrSwL_CW6FgMf4qTmqVOS59CPaNGDf');
          "
        >
          <div class="content">
            <span>Luxor</span>
            <h3>exploring</h3>
            <p-button
              routerLink="/city/Dahab"
              label="Discover"
              styleClass="discover-button p-button-lg p-button-rounded p-button-secondary"
            ></p-button>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div
          class="box second"
          style="
            background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
              ),
              url(https://drive.google.com/uc?export=view&id=1OZtR_v16PLi51Cw5jpkIe4lxJeHQEzzd);
          "
        >
          <div class="content">
            <span>Dahab</span>
            <h3>Exploring</h3>
            <p-button
              routerLink="/city/Dahab"
              label="Discover"
              styleClass="discover-button p-button-lg p-button-rounded p-button-secondary"
            ></p-button>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div
          class="box third"
          style="
            background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
              ),
              url(https://drive.google.com/uc?export=view&id=1dGcpYQUYXYg7zpZRRAErznJneT2DFSgT);
          "
        >
          <div class="content">
            <span>Alexandria</span>
            <h3>Exploring</h3>
            <p-button
              routerLink="/city/Dahab"
              label="Discover"
              styleClass="discover-button p-button-lg p-button-rounded p-button-secondary"
            ></p-button>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div
          class="box third"
          style="
            background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
              ),
              url(https://drive.google.com/uc?export=view&id=1_FjwGkWlus44auoiaBWtxn3syALBSuXs);
          "
        >
          <div class="content">
            <span>Fayoum</span>
            <h3>Exploring</h3>
            <p-button
              routerLink="/city/Dahab"
              label="Discover"
              styleClass="discover-button p-button-lg p-button-rounded p-button-secondary"
            ></p-button>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div
          class="box third"
          style="
            background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
              ),
              url(https://drive.google.com/uc?export=view&id=1SjLd8aEC7TwBPVSR4R4qAyZCkIcNGAfl);
          "
        >
          <div class="content">
            <span>PortSaid</span>
            <h3>Exploring</h3>
            <a routerLink="/city/PortSaid">Discover </a>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>

<section class="landmark" id="show">
  <h1 class="heading">Our LandMarks</h1>
  <div class="landmark-slider">
    <swiper-container
      effect="coverflow"
      grab-cursor="true"
      centered-slides="true"
      coverflow-effect-rotate="50"
      coverflow-effect-stretch="0"
      coverflow-effect-depth="100"
      coverflow-effect-modifier="1"
      coverflow-effect-slide-shadows="true"
      id="landmark-swiper"
      class="landmark-wrapper"
    >
      <swiper-slide class="slide-landmark">
        <div class="image">
          <img src="https://drive.google.com/uc?export=view&id=1J8g_WIdS46bEmL-IaO93t0a-LYFsv8_m" />
        </div>
        <div class="content">
          <h3>Blue Hole</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
            omnis.
          </p>
          <a>read more</a>
          <div class="rating-container">
            <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="slide-landmark">
        <div class="image">
          <img src="https://drive.google.com/uc?export=view&id=1JFzmFFOFXB7Xua1WZ33L_2_l8wAZCZfV" />
        </div>
        <div class="content">
          <h3>Blue Hole</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
            omnis.
          </p>
          <a>read more</a>
          <div class="rating-container">
            <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="slide-landmark">
        <div class="image">
          <img src="https://drive.google.com/uc?export=view&id=1PUBC-vs1gxd4x7mBSw6L82VrivIXosIq" />
        </div>
        <div class="content">
          <h3>Blue Hole</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
            omnis.
          </p>
          <a>read more</a>
          <div class="rating-container">
            <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="slide-landmark">
        <div class="image">
          <img src="https://drive.google.com/uc?export=view&id=1PUBC-vs1gxd4x7mBSw6L82VrivIXosIq" />
        </div>
        <div class="content">
          <h3>Blue Hole</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
            omnis.
          </p>
          <a>read more</a>
          <div class="rating-container">
            <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
